{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <style>
    @font-face {
      font-family: "BYekan";
      src: url('{% static "staticfonts/BYekan.eot" %}') format("eot"),
        url('{% static "fonts/Yekan.ttf" %}') format("truetype"),
        url('{% static "fonts/BYekan.woff" %}') format("woff");
    }
    * {
      font-family: BYekan, "BYekan", tahoma;
      font-size: large;
    }
    a {
         text-decoration: none;
    }
  </style>
</head>
<body dir="rtl">
  <div class="row justify-content-center rounded mt-lg-5 ">
    <div class="col-4">
      <form class="form-signin border rounded-3 p-lg-5" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-lg-5 font-weight-normal text-center">لطفا وارد شوید</h1>
        <div class="row justify-content-center">
          <div class="row mb-lg-2">
            <p>{{login_form.user_name.label}}</p>
            {{ login_form.user_name }}
          </div>
          <div class="row mb-lg-2">
            <p>{{ login_form.password.label }}</p>
            {{ login_form.password }}
          </div>
          {% for error in login_form.user_name.errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}
          {% for error in login_form.password.errors %}
            <p class="text-danger">
              {{ error }}
            </p>
          {% endfor %}
          <a href="/myadmin/user-register">اکانت ندارید؟ ثبت نام کنید</a>
          <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">ورود</button>  
        </div>
      </form>
    </div>
  </div>
</body>