{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}
<header
  class="masthead"
  style="background-image: url('assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ settings.title }}</h1>
          <span class="subheading">{{ settings.simple_description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for post in page_obj %}
      <div class="post-preview">
        <a href="{{ post.get_url }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.simple_description }}</h3>
        </a>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}
      <!-- Pager-->
      <div class="pagination">
        <span class="step-links">
          <div class="row">
            {% if page_obj.has_previous %}
            <div class="col">
              <a href="?page=1">اولین صفحه</a>
            </div>
            <div class="col-10">
              <a href="?page={{ page_obj.previous_page_number }}">آخرین صفحه</a>
            </div>
            {% endif %}
          </div>
          <div class="row">
            <span class="current text-danger">
              صفحه ی {{ page_obj.number }} از {{ page_obj.paginator.num_pages}}
            </span>
          </div>

          {% if page_obj.has_next %}
          <div class="row">
            <div class="col-6">
              <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            </div>
            <div class="col-6">
              <a href="?page={{ page_obj.paginator.num_pages }}">قبلی</a>
            </div>
          </div>
          {% endif %}
        </span>
      </div>
      <!-- <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary text-uppercase" href="#!"
              >مطالب قدیمی تر</a
            >
          </div> -->
    </div>
  </div>
</div>
{% endblock %}
