{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}
<header
  class="masthead"
  style="background-image: url('assets/img/post-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.title }}</h1>
          <h2 class="subheading">{{ post.simple_description }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
      {% if post.image %}
        <div class="mb-5">
          <img style="width: 100%;height:auto;" src="{{ post.image.url }}" alt="{{ posts.title }}">
        </div>
      {% else %}
        <div></div>
      {% endif %}
        <p>{{ post.text }}</p>
        <hr />

        {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          {{ add_comment_form }}
          <button type="submit" class="btn btn-secondary mt-3 mb-5">
            ثبت نظر
          </button>
        </form>
        {% else %}
        <div class="alert alert-danger">
          <div class="text-dark">
            <a href="/myadmin/user-login/">
              <h4 class="h4">
                لطفا برای نظر دادن وارد شوید
              </a>
            </h4>
          </div>
        </div>
        {% endif %}
        <h3 class="text-primary mt-5">نظرات این پست</h3>
        {% for comment in comments %}
        <div class="border rounded rounded-3 border-secondary mt-3">
          <div class="m-3">
            توسط {{ comment.user }} {% if comment.user == request.user %}<a
              href="/delete-comment/{{ comment.pk }}"
              ><i class="fas fa-trash"></i></a
            >{% endif %}
            <hr />
            {{ comment.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
{% endblock %}
