{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>وبلاگ محمد شیرزاد</title>
    {% load static %}
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="stylesheet" href="{% static 'fontaw/css/all.css' %}" />
      <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
      <script src="{% static 'js/script.js' %}"></script>

      <style>
        @font-face {
          font-family: "BYekan";
          src: url('{% static "staticfonts/BYekan.eot" %}') format("eot"),
            url('{% static "fonts/Yekan.ttf" %}') format("truetype"),
            url('{% static "fonts/BYekan.woff" %}') format("woff");
        }
        * {
          font-family: BYekan, "BYekan", tahoma;
          font-size: large;
        }
        a {
             text-decoration: none;
        }
      </style>
    </head>
  </head>
  <body dir="rtl">
    {% render_partial 'header' %}
    {% block content %}{% endblock %}
    {% render_partial 'footer' %}
  </body>
</html>
