<div class="list-group">
  <a class="mylink" href="/myadmin">
    <button type="button" class="list-group-item list-group-item-action">
      مدیریت وبلاگ
    </button>
  </a>

  <a class="mylink" href="/myadmin/create-post">
    <button type="button" class="list-group-item list-group-item-action">
      اضافه کردن پست جدید
    </button>
  </a>

  {% if is_superuser %}
    <a class="mylink" href="/myadmin/edit-settings">
      <button type="button" class="list-group-item list-group-item-action">
        مدیریت تنظیمات سایت
      </button>
    </a>
    <a class="mylink" href="/myadmin/all-users">
      <button type="button" class="list-group-item list-group-item-action">
        مدیریت کاربران
      </button>
    </a>
  {% endif %}
  <a class="mylink" href="/myadmin/user-profile">
    <button type="button" class="list-group-item list-group-item-action">
       اطلاعات کاربری
    </button>
  </a>
  <a class="mylink" href="/myadmin/edit-user-profile">
    <button type="button" class="list-group-item list-group-item-action">
      ویرایش اطلاعات کاربری
    </button>
  </a>
  <a class="mylink" target="_blank" href="/">
    <button type="button" class="list-group-item list-group-item-action">
      مشاهده ی وبلاگ
    </button>
  </a>

  <a class="mylink" href="/myadmin/user-logout">
    <button type="button" class="list-group-item list-group-item-action">
      خروج
    </button>
  </a>
</div>
